<h2>Hello <%= @user.username %>,</h2> 

<p>Your reset password token is <%= @user.reset_password_token %>.</p>

<p>If you did not request your password to be reset please ignore this email and your password will stay as it is.</p>